@using ReminderApplication.DTOs.RequestModels
@model CreateEventRequestModel
@{
    ViewData["Title"] = "DashBoard";
}
<form asp-action="Create">
    <div class="form-group">
        @Html.LabelFor(x => x.UserName, new { @class = "control-label col-lg-2" })
        <div class="col-lg-10">
            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @required = "required" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(x => x.Title, new { @class = "control-label col-lg-2" })
        <div class="col-lg-10">
            @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @required = "required" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Description , new { @class = "control-label col-lg-2" })
        <div class="col-lg-10">
            @Html.TextBoxFor(x => x.Description, new { @class = "form-control", @required = "required" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Location, new { @class = "control-label col-lg-2" })
        <div class="col-lg-10">
            @Html.TextBoxFor(x => x.Location, new { @class = "form-control", @required = "required" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2">Event Start Time and Date</label>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-6">
                    <div class='input-group dateTime' id="datetimepicker">
                        @Html.TextBoxFor(x => x.StartDateTime, new { @class = "form-control", @required = "required", @type = "date" })
                        @* @Html.TextBox("Time", Model.StartDateTime, new { @class = "form-control" }) *@
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2">Event end Time and Date</label>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-6">
                    <div class='input-group date' id="datetimepicker">
                        @Html.TextBoxFor(x => x.EndDateTime, new { @class = "form-control", @required = "required", @type = "date" })
                        @* @Html.TextBox("Time", Model.EndDateTime, new { @class = "form-control" }) *@
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="submit"/>
</form>

